@import './theme.scss';
@import './hover.scss';
@import url(https://fonts.googleapis.com/css?family=Lobster:200,300,400,700);

// Custom Utilities
.direction-rtl {
    direction: rtl;
}

html {
    margin: 0px;
    height: 100%;
    min-height: 100%;
}
 
body::-webkit-scrollbar {
    width: 11px;
}

body {
    margin: 0px;
    min-height: 100%;
    height: 100%;
    background-color: $root-color;

    scrollbar-width: thin;
    scrollbar-color: $accent-light $light-2;
}

body::-webkit-scrollbar-track {
    background: $light-2;
}

body::-webkit-scrollbar-thumb {
    background-color: $accent-light ;
    border-radius: 6px;
}

#root {
    margin: 0px;
    min-height: 100%;
    height: 100%;
}

.main {
    min-height: 100%;
    background-color: white;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.12);
}

.main-header {
    margin-left: 0.25rem;
}

@include media-breakpoint-up(md) { 
    .main {
        margin-left: 10rem;
        margin-right: 10rem;
    }
    
    .main-header {
        margin-left: 7rem;
    }

    .navbar {
        padding: 0;
        padding-top: 3rem;
        margin-left: 10rem;
        margin-right: 10rem;

        border-bottom: 1px solid $light;
    }

    .content {
        padding-left: 3rem;
        padding-right: 3rem;
    }
    
    .about-content {
        padding-left: 12rem;
        padding-right: 12rem;
    }

    .home-container {
        padding-top: 2rem;
    }

    .search-bar-group {
        padding-left: 7rem;
        padding-right: 7rem;
    }
}

.hidden-element {
    visibility: hidden;
    user-select: none;
}

@media (max-width: 576px) {
    .content {
        padding-top: 3rem;
    }

    .about-main-header {
        padding-top: 3rem !important;
    }

    .navbar {
        padding-bottom: 0;
        background: white;
    }

    .navbar-collapse.show:before {
        content : "";
        position: absolute;
        left    : 0;
        bottom  : 0;
        height  : 1px;
        width   : 100%;
        border-bottom:1px solid darkgray;
    }
    
    a.navbar-brand-filmpick {
        margin-top: 0;
    }

    .home-container {
        padding-left: 0;
        padding-right: 0;
    }

    .home-image {
        display: none;
    }

    .col .about-images {
        display: none;
    }
}

.nav-link {
    margin-bottom: 1rem;
}

.hvr-underline-from-center.nav-link.selected {
    color: rgba(0, 0, 0, 1);
}

.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
    color: rgba(0, 0, 0, 1);
}

.nav-link.selected:before {
    left: 0;
    right: 0;
}

.navbar-toggler {
    margin-bottom: 0.5rem;
}

.logo-filmpick {
    font-family: 'Lobster', sans-serif;
}

.navbar-brand-filmpick {
    font-size: 1.7rem;
    padding-top: 0;
    margin-top: -15px;
}

.search-bar-button.btn-info:hover {
    color: #182628;
    background-color: white;
    border-color: lightgray;
}

.btn-secondary {
    color: #fff;
}
  
.btn-secondary:hover {
    color: #212529;
}

.input-group > .form-control:focus {
    z-index: 0;
    border: 1px solid #ced4da;
}

.user-account-form.form-control:focus {
    z-index: 0;
    border: 1px solid #ced4da;
}

.home-header {
    font-weight: 600;
    font-size: 3rem;
}

.home-spacer {
    height: 0.5rem;
    border-radius: 1rem;
    margin-right: 1rem;
}

.home-text {
    user-select: none;
}

.spacer-lg {
    width: 5rem;
    background-color: $accent-dark;
}

.spacer-md {
    width: 3rem;
    background-color: $accent-light;
}

.home-searchbar {
    input {
        // border: 0;
        border-top-right-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
    }
    .input-group-text {
        background-color: #fff;
        border-left: 0;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        padding: 0;

        button {
            background-color: #fff;
            border: 0;
        }
    }
}

.slick-slider .slick-list {
    padding: 1rem 0;
}

.slick-track {
    display: flex;

    .slick-slide {
        height: auto;
        display: flex;

        > div {
            display: flex;
            width: 100%;
        }
    }
}

.slick-next::before {
    color: $info;
}
.slick-prev::before {
    color: $info;
}

.search-card-genres {
    font-size: 0.85rem;
}

.card-media {
    cursor: pointer;
}

.detail-modal-overview {
    padding: 0 1rem;
}

.modal-media-body {
    height: 231px !important;
}

.modal-body-label {
    font-size: 0.8rem;
}

.modal-content > button {
    margin: 0 1rem 1rem 1rem;
}

.modal-open {
    overflow: scroll !important;
}

.about-header {
    font-weight: 600;
    font-size: 2rem;
    margin-bottom: 0;
}

.about-spacer {
    width: 5rem;
    height: 0.2rem;
    border-radius: 1rem;
    background-color: $accent-dark;
}

.about-images {
    padding-top: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}