@import './theme.scss';
@import url(https://fonts.googleapis.com/css?family=Lobster:200,300,400,700);

@include media-breakpoint-up(md) { 
    .home-searchbar {
        max-width: 60%;
    }
}

/* Glow */
.hvr-glow {
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow;
    transition-property: box-shadow;
}
.hvr-glow:hover, .hvr-glow:focus, .hvr-glow:active {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}

/* Grow */
.hvr-grow .hvr-grow-icon {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}
.hvr-grow:hover .hvr-grow-icon, .hvr-grow:focus .hvr-grow-icon, .hvr-grow:active .hvr-grow-icon {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.hidden-element {
    visibility: hidden;
    user-select: none;
}

.main {
    padding-top: 56px;
}

.navbar {
    padding-bottom: 0;
}

.nav-link {
    padding-bottom: 1rem;
}

.navbar-toggler {
    margin-bottom: 0.5rem;
}

.navbar-gradient {
    background: rgb(59,119,98);
    background: linear-gradient(45deg, rgba(59,119,98,1) 0%, rgba(69,140,116,1) 100%);

    background-color: transparent !important;
}

.logo-filmpick {
    font-family: 'Lobster', sans-serif;
}

.navbar-brand-filmpick {
    font-size: 1.7rem;
    padding-top: 0;
}

.vh-100 {
    min-height: 100vh;
}

.btn-secondary {
    color: #fff;
}
  
.btn-secondary:hover {
    color: #212529;
}

.home-container {
    padding: 0;
}

.home-elements {
    position: relative;
    z-index: 1;
    padding-top: 56px;
}

.home-logo {
    font-size: 6rem;
    user-select: none;
}

.home-icons {
    font-size: 2.25rem;
}

.home-tagline {
    font-size: 1.15rem;
    user-select: none;
}

.home-searchbar {
    input {
        border: 0;
        border-top-right-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
    }
    .input-group-text {
        background-color: #fff;
        border: 0;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        padding: 0;

        button {
            background-color: #fff;
            border: 0;
        }
    }
}

:root {
    --base:              #ee7575;
    --bg-blend:          hard-light;
    --blur:              2px;
    --fg-blend:          lighten;
    --foreground:        #215040;
    --opacity:           0.83;
    --spacing:           0px;
  }

.home-bg-container {
    height:                 100%;
    width:                  100%;
    position:               fixed;
    overflow:               hidden;
    top:                    0;
}

.home-bg {
    background-image:       url('./bg.jpg');
    background-size:        cover;
    background-position:    center top;
    max-width:              100%;
    width:                  100%;
    height:                 100%;
    filter:                 brightness(50%) blur(2px);
    transform:              scale(1.05);
}

.slick-slider .slick-list {
    padding: 1rem 0;
}

.slick-track {
    display: flex;

    .slick-slide {
        height: auto;
        display: flex;

        > div {
            display: flex;
            width: 100%;
        }
    }
}

.slick-next::before {
    color: $light;
}
.slick-prev::before {
    color: $light;
}

.search-card-genres {
    font-size: 0.85rem;
}

.card-media {
    cursor: pointer;
}

.detail-modal-overview {
    padding: 0 1rem;
}

.modal-media-body {
    height: 231px !important;
}

.modal-body-label {
    font-size: 0.8rem;
}

.modal-content > button {
    margin: 0 1rem 1rem 1rem;
}