@import './theme.scss';
@import url(https://fonts.googleapis.com/css?family=Lobster:200,300,400,700);

@include media-breakpoint-up(md) { 
    .home-searchbar {
        max-width: 60%;
    }
}

/* Glow */
.hvr-glow {
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow;
    transition-property: box-shadow;
}
.hvr-glow:hover, .hvr-glow:focus, .hvr-glow:active {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}

/* Grow */
.hvr-grow .hvr-grow-icon {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}
.hvr-grow:hover .hvr-grow-icon, .hvr-grow:focus .hvr-grow-icon, .hvr-grow:active .hvr-grow-icon {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

/* Underline from center */
.hvr-underline-from-center {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
}
.hvr-underline-from-center:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 51%;
    right: 51%;
    bottom: 0;
    background: black;
    height: 4px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
    left: 0;
    right: 0;
}

.hidden-element {
    visibility: hidden;
    user-select: none;
}

@media (max-width: 576px) {
    .main {
        padding-top: 56px;
    }

    .navbar {
        padding-bottom: 0;
        background: white;
    }

    .navbar-collapse.show:before {
        content : "";
        position: absolute;
        left    : 0;
        bottom  : 0;
        height  : 1px;
        width   : 100%;
        border-bottom:1px solid darkgray;
    }
}

.nav-link {
    margin-bottom: 1rem;
}

.hvr-underline-from-center.nav-link.selected {
    color: rgba(0, 0, 0, 1);
}

.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
    color: rgba(0, 0, 0, 1);
}

.nav-link.selected:before {
    left: 0;
    right: 0;
}

.navbar-toggler {
    margin-bottom: 0.5rem;
}

.logo-filmpick {
    font-family: 'Lobster', sans-serif;
}

.navbar-brand-filmpick {
    font-size: 1.7rem;
    padding-top: 0;
    margin-top: -15px;
}

.vh-100 {
    min-height: 100vh;
}

.search-bar-button.btn-info:hover {
    color: #182628;
    background-color: white;
    border-color: lightgray;
}

.btn-secondary {
    color: #fff;
}
  
.btn-secondary:hover {
    color: #212529;
}

.input-group > .form-control:focus {
    z-index: 0;
    border: 1px solid #ced4da;
}

.user-account-form.form-control:focus {
    z-index: 0;
    border: 1px solid #ced4da;
}

.home-container {
    padding: 0;
}

.home-elements {
    position: relative;
    z-index: 1;
    padding-top: 56px;
}

.home-logo {
    font-size: 6rem;
    user-select: none;
}

.home-icons {
    font-size: 2.25rem;
}

.home-tagline {
    font-size: 1.15rem;
    user-select: none;
}

.home-searchbar {
    input {
        // border: 0;
        border-top-right-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
    }
    .input-group-text {
        background-color: #fff;
        border-left: 0;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        padding: 0;

        button {
            background-color: #fff;
            border: 0;
        }
    }
}

:root {
    --base:              #ee7575;
    --bg-blend:          hard-light;
    --blur:              2px;
    --fg-blend:          lighten;
    --foreground:        #215040;
    --opacity:           0.83;
    --spacing:           0px;
  }

.slick-slider .slick-list {
    padding: 1rem 0;
}

.slick-track {
    display: flex;

    .slick-slide {
        height: auto;
        display: flex;

        > div {
            display: flex;
            width: 100%;
        }
    }
}

.slick-next::before {
    color: $light;
}
.slick-prev::before {
    color: $light;
}

.search-card-genres {
    font-size: 0.85rem;
}

.card-media {
    cursor: pointer;
}

.detail-modal-overview {
    padding: 0 1rem;
}

.modal-media-body {
    height: 231px !important;
}

.modal-body-label {
    font-size: 0.8rem;
}

.modal-content > button {
    margin: 0 1rem 1rem 1rem;
}